version: '3.8'

services:
  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "6379:6379"
    command: redis-server --save 60 1 --loglevel warning --maxmemory 128mb --maxmemory-policy volatile-lfu

  embedding-server:
    build: ./embedding-server
    container_name: embedding-server
    depends_on:
      - qdrant
    ports:
      - "8000:8000"
    restart: always

  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    ports:
      - "6333:6333"
    volumes:
      - qdrant-storage:/qdrant/storage
    deploy:
      resources:
        limits:
          memory: 2G

volumes:
  qdrant-storage:
